@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: 2px solid var(--border-color-1) !important;
    outline-offset: 2px;
}

:root {
    --accent-color-1: #3DED6B;
    
    --error-color: #FF4040;
    --info-color: #40A9FF;
    --success-color: #2BFF60;
}

.dark-theme {
    --color-1: #010409;
    --color-2: #0D1117;
    --color-3: #14181F;
    --color-4: #212830;
    --border-color-1: #3D4D40;
    --hover-color-1: #373E4A;
    --text-color-1: #FFFFFF;
    --text-color-2: #727478;
}

.light-theme {
    --color-1: #ffffff;
    --color-2: #f6f8fa;
    --color-3: #dfdfe0;
    --color-4: #cdcdcd;
    --hover-color-1: #bebebe;
    --border-color-1: #e0efe4;
    --text-color-1: #1f2328;
    --text-color-2: #4c535b;
}

.hidden { display: none !important; }

button, a, input {
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    color: var(--text-color-1);
}

button { cursor: pointer; }

button:hover, a:hover { background: var(--hover-color-1); }

ul, li { list-style: none; }

html { scroll-behavior: smooth; font-size: 24px; }

body {
    background: var(--color-2);
    color: var(--text-color-1);
    font-family: "Mona Sans", sans-serif;
    min-height: calc(100dvh - 100px);
    letter-spacing: 3%;
}

header {
    background: var(--color-1);
    height: 100px;
    max-width: 100%;
    border-bottom: 2px solid var(--border-color-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px
}

.logo-title h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

.logo-title span {
    font-weight: bolder;
    color: var(--accent-color-1);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link-input-container {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
}

.link-input-container input {
    width: 350px;
    height: 50px;
    font-size: 0.9rem;
    padding-left: 16px;
    padding-right: 44px;
    background: var(--color-3);
    border: 1px solid var(--border-color-1);
    border-radius: 10px;
}

.link-input-container input::placeholder {
    color: var(--text-color-2);
}

.link-input-container a {
    background: none;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    width: 40px;
    height: 40px;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 999px;
}
