.hidden {
    display: none !important;
}

.border-sm {
    border: 1px solid var(--border-color-1);
}

.border-normal {
    border: 2px solid var(--border-color-1);
}

.rounded-normal {
    border-radius: 10px;
}

.rounded-full {
    border-radius: 999px;
}

.neon {
    box-shadow: 0 0 10px var(--shadow-color-1);
}

.copied {
    color: var(--text-color-2);
}

.text-small {
    font-size: 0.8rem;
}

.text-smallest {
    font-size: 0.6rem;
}

.info {
    outline: 2px solid var(--info-color);

    svg {
        color: var(--info-color);
    }
}

.warning {
    outline: 2px solid var(--warning-color);

    svg {
        color: var(--warning-color);
    }
}

.error {
    outline: 2px solid var(--error-color);

    svg {
        color: var(--error-color);
    }
}

.success {
    outline: 2px solid var(--success-color);

    svg {
        color: var(--success-color);
    }
}

.active-color {
    outline: 2px solid #40ba5080;
}

.non-active-color {
    outline: 2px solid #f8524980;
}

@keyframes alert-pop {
    0% {
        opacity: 0%;
        transform: scale(0.9);
    }

    60% {
        opacity: 100%;
        transform: scale(1.03);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}
