.settings {
    border: 1px solid var(--border-color-1);
    border-radius: 10px;
    background: var(--color-3);
    box-shadow: 0 0 32px rgb(0 0 0 / 40%);
    width: 60dvw;
    height: 60dvh;
    padding: 20px;
    overflow-y: scroll;

    &-header {
        font-size: 1rem;
        padding-bottom: 10px;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid var(--border-color-1);
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-section {
        border-bottom: 2px solid var(--border-color-1);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    &-item {
        background: var(--color-4);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-token-status {
        padding: 0 30px;
        text-align: center;
        width: fit-content;
        cursor: help;
    }

    &-toggle-button {
        position: relative;
        background: var(--color-3);
        height: 30px;
        width: 60px;
        cursor: pointer;
    }

    &-toggle-button::before {
        content: "";
        position: absolute;
        border-radius: 999px;
        inset: 0;
        background: var(--accent-color-1);
        width: 25px;
        height: 25px;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s ease;
    }

    &-toggle-input:checked+&-toggle-button::before {
        transform: translate(calc(60px - 25px - 2px - 2px), -50%);
    }

    &-rest-api-limit-progress {
        position: relative;
        width: 200px;
        height: 30px;
        overflow: hidden;
        background: var(--color-3);
    }

    &-rest-api-limit-bar {
        display: block;
        background: var(--accent-color-1);
        height: 100%;
        width: 0%;
    }

    &-version-text-container {
        color: var(--text-color-2);
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
